{% paginate blog.articles by settings.blog_single_articles_limit %}

{%if settings.show_blog_categories%}
<div class="list-categories">
	<div class="wrapper">
		<div class="inner">
			<ul class="no-bullets">
				{%for link in linklists[settings.blog_sidebar_select].links%}
				{%assign _blog = link.object%}
				<li class="{%if blog.url == _blog.url%}active{%endif%}">
					<a href="{{_blog.url}}">
						{{_blog.title}}
					</a>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>
</div>
{%endif%}

<section id="blog-wrapper">
	<div class="wrapper">
		<div class="inner">
			<div class="grid mg-left-10">

				<div class="grid__item large--one-whole medium--one-whole small--one-whole pd-left10">
					<div class="blog-content">

						<div class="blog-content-wrapper">
							<div class="blog-head">
								<div class="blog-title">
									<h1>{{blog.title}}</h1>
								</div>
							</div>
							<div class="blog-body">
								<div class="grid-uniform">
									{%if blog.articles_count > 0%}
									{%for article_layout in blog.articles%}
									<div class="grid__item large--one-third medium--one-half small--one-whole">
										{%include 'article-item'%}
									</div>
									{%endfor%}
									{%else%}
									<div class="grid__item large--one-whole">
										<p>
											Danh mục này chưa có bài viết nào cả !
										</p>
									</div>
									{%endif%}
								</div>
								{%include 'pagination'%}
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

{% endpaginate %}
