{% paginate collection.products by settings.col_pro_limit %}

{%include 'customize-search-bar'%}

<section id="collection-wrapper">
	<div class="wrapper">
		<div class="inner">
			<div class="grid">

				<div class="grid__item large--one-whole medium--one-whole small--one-whole">
					<div class="collection-content-wrapper">
						<div class="collection-head">
							<div class="collection-head-title">
								<div class="grid">
									<div class="grid__item large--seven-twelfths medium--one-whole small--one-whole">
										<div class="collection-title">
											<h1>Nơi đến {%if collection.handle =="all"%}Tất cả sản phẩm{%else%}{{collection.title}}{%endif%}</h1>
										</div>
									</div>
									<div class="grid__item large--five-twelfths medium--one-whole small--one-whole">
										<div class="collection-sorting-wrapper">
											{%include 'collection-sorting'%}
										</div>
									</div>
								</div>
							</div>
							{%unless collection.handle =="all"%}
							<div class="collection-desc clearfix">
								{{collection.description}}
							</div>
							{%endunless%}
						</div>
						<div class="collection-body">
							<div class="grid-uniform product-list">
								{%if collection.products_count > 0%}
								{%for product_layout in collection.products%}
								<div class="grid__item large--one-third medium--one-half small--one-whole">
									{%include 'product-item'%}
								</div>
								{%endfor%}
								{%else%}
								<div class="grid__item large--one-whole text-center">
									<div class="collection-empty">
										Chưa có sản phẩm nào trong nhóm này !
									</div>
								</div>
								{%endif%}
							</div>
							<div class="pagination not-filter">
								{%include "pagination"%}
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

{% endpaginate %}
